# Keystore Configuration untuk Release Build
# Copy file ini ke keystore.properties dan isi dengan data keystore Anda
# JANGAN commit keystore.properties ke git!

storeFile=ucup-kasir-release.keystore
storePassword=YOUR_STORE_PASSWORD
keyAlias=ucupkasir
keyPassword=YOUR_KEY_PASSWORD
